#controls {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b7b7b7;
    height: 3.0em;
    width: 18em;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    border: 3px solid rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}

#additional_controls {
    padding-top: 25px;
    background-color: #464646;
    height: 4.5em;
    width: 18em;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

#play_bar_container {
    padding-top: 25px;
    padding-bottom: 25px;
}

#volume_controls {
    width: 10em;
    margin-right: 5px;
}

#mute_button {
    margin-left: -5px;
    width: 40px;
    height: 40px;
}

#volume_button {
    width: 40px;
    height: 40px;
    margin-left: 0px;
}

.infoTable {
    width: 100%;
}
